body
{
    /* background-color: #F1F1F1; /* Default for no BG */
    background-color: #000000;       /* Prevents white flash */
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: rgb(68, 68, 68);
}

#box
{
    background-color: #F1F1F1;
    opacity: 0.8;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 100px;
    margin: auto;
}

#boxcontent
{
    padding: 40px 35px 30px 47px;
}
#title
{
    font-size:    24px;
    font-weight:  bold;
    margin-right: 20px;    /* More centered */
    text-align:   center;
}

form
{
    padding-top: 20px;
    width: 100%;
}

input
{
    font-size: 20px;
    
    /* Centering */
    display:block;
    margin: 0 auto;
    
    margin-top: 10px;

}

#btnSubmit
{
    width: 80px;
    margin-top: 17px;
    
    font: 13px/28px Arial, sans-serif;
    color: #FFFFFF;
    background: #606C88;
    border: 1px solid #606C88;
    border-radius: 4px;
    padding: 0px 12px;
}

#tabbar
{
    left:0;
    top:0;
    max-height:30px;
    
}
#tab
{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 40px;
   
    background: red;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    opacity: 0.5;
    
}
#tablink
{
    font: 16px/28px Arial, sans-serif;
    color: #FFFFFF;
    text-decoration:none
}